@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  min-width: 375px;
  min-height: 718px;
}

header {
  max-width: 351px;
  padding-right: 24px;
  padding-left: 24px;
}

.navigation {
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-container {
  background-image: url("./images/header-shapes-mobile.svg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding-top: 50px;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
}

.logo {
  text-decoration: none;
  position: static;
  width: 76px;
  height: 20px;
  left: 12px;
  top: 10px;
  font-family: Poppins, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  flex-grow: 0;
  margin: 0px 0px;
}

h1 {
  margin-bottom: 12px;
  margin-left: 24px;
  margin-right: 24px;
  font-weight: bold;
}

.introduction {
  position: static;
  width: 300px;
  height: 150px;
  left: 24px;
  top: 114px;
  font-family: Poppins, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.who-am-i {
  position: static;
  width: 327px;
  left: 24px;
  top: 276px;
  font-family: Poppins, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  flex-grow: 0;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 24px;
  margin-right: 24px;
}

.connect {
  font-family: Poppins, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #7f8cff;
  flex: none;
  flex-grow: 0;
  margin-left: 24px;
}

.social {
  display: flex;
  align-content: flex-start;
  padding-inline-start: 0px;
  margin-inline-start: 24px;
}

ul li.social-icon {
  display: inline-block;
  margin-right: 17px;
}
