@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  min-width: 375px;
  font-family: Poppins, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

.intro {
  min-height: 718px;
}

header {
  max-width: 351px;
  padding-right: 24px;
  padding-left: 24px;
}

.navigation {
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-container {
  background-image: url("./images/header-shapes-mobile.svg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding-top: 50px;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
}

.logo {
  text-decoration: none;
  position: static;
  width: 76px;
  height: 20px;
  left: 12px;
  top: 10px;
  font-family: Poppins, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  flex-grow: 0;
}

h1 {
  margin-bottom: 12px;
  margin-left: 24px;
  margin-right: 24px;
  font-weight: bold;
}

.introduction {
  position: static;
  width: 300px;
  height: 150px;
  left: 24px;
  top: 114px;
  font-family: Poppins, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.who-am-i {
  position: static;
  width: 327px;
  left: 24px;
  top: 276px;
  font-family: Poppins, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  flex-grow: 0;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 24px;
  margin-right: 24px;
}

.connect {
  font-family: Poppins, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #7f8cff;
  flex: none;
  flex-grow: 0;
  margin-left: 24px;
}

.social {
  display: flex;
  align-content: flex-start;
  padding-inline-start: 0;
  margin-inline-start: 24px;
}

ul li.social-icon {
  display: inline-block;
  margin-right: 17px;
}

.works {
  display: grid;
  row-gap: 20px;
  padding: 114px 24px;
  position: absolute;
  width: 375px;
  height: 2788px;
  left: 35px;
  top: 718px;
}

.work {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  position: static;
  width: 327px;
  height: 552px;
  left: calc(50% - 327px / 2);
  top: 114px;

  /* Neutrals/N0 */
  background: #ffffff;

  /* Neutrals/N40 */
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 88px 0px;
}

.work1_pic {
  position: static;
  width: 295px;
  height: 220px;
  left: 16px;
  top: 16px;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0px;
}

.work-name {
  position: static;
  width: 295px;
  height: 36px;
  left: 0px;
  top: 0px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;

  /* Neutrals/N800 */
  color: #172b4d;

  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
  margin: 0px 0px;
}

.work-data {
  margin: 12px 0px 0px;
}

.company {
  /* Text */

  position: static;
  width: 55px;
  height: 16px;
  left: 0px;
  top: 8px;

  /* Caption / 1 - Bolder */
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N600 */
  color: #344563;

  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
  margin: 0px 0px;
}

.role {
  /* Text */
  position: static;
  width: 88px;
  height: 16px;
  left: 8px;
  top: 8px;

  /* Caption / 1 - Bolder */
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* Neutrals/N100 */
  color: #7a869a;

  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
  margin: 0px 12px;
}

.year {
  position: static;
  width: 29px;
  height: 16px;
  left: 0px;
  top: 8px;

  /* Caption / 1 - Bolder */
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  /* identical to box height, or 123% */

  /* Neutrals/N100 */
  color: #7a869a;

  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
  margin: 0px 10px 0px 14px;
}

.paragraph {
  /* Primary Text */

  position: static;
  width: 295px;
  height: auto;
  left: 0px;
  top: 92px;

  /* Body / 3 */
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;

  /* or 160% */

  /* Neutrals/N600 */
  color: #344563;

  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
  margin: 12px 0px;
}

.tags {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
  margin: 8px 0px;
}

.work-tags {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;

  /* Primary/B50 */
  background: #ebebff;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
  margin: 0px 8px 0px 0px;
}

.see-project {
  padding: 10px 0px;
}

.about {
  position: absolute;
  width: 375px;
  height: 1263px;
  left: 50px;
  top: 3769px;
}

.about-me {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */
  display: flex;
  align-items: center;

  /* Neutrals/N800 */
  color: #172b4d;

  margin-block-start: 0px;
  margin-block-end: 0px;
}
.connect-about {
  font-family: Poppins, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #7f8cff;
  flex: none;
  flex-grow: 0;
  margin-left: 0px;
}

.social-about {
  display: flex;
  align-content: flex-start;
  padding-inline-start: 0;
  margin-inline-start: 0px;
}

ul li.social-icon-about {
  display: inline-block;
  margin-right: 17px;
}

ul > li {
  display: block;
  padding-bottom: 15px;
}

ul > li > ul > li {
  display: block;
  padding-bottom: 0px;
}

.outer-list {
  padding-left: 5px;
  font-weight: bolder;
}

.inner-list {
  padding-left: 0px;
  font-weight: bolder;
}
